<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Tournament</title>
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/style.css" rel="stylesheet">
    <link href="../css/bracketStlye.css" rel="stylesheet">
    <link href="../css/font-awesome.css" rel="stylesheet"> </head>

<body>
    <!-- Navigation -->
    <header>
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
                    <a href="../index.html"><img id="navbar-icon" src="../images/logoHeader.png" /></a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-left">
                        <li><a href='../index.html'>Home</a></li>
                        <li><a href='../tournaments.html'>Tournaments</a></li>
                        <li> <a href='teams.html'>Teams</a> </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li> <img id="profile" class="img-circle dropdown-toggle" data-toggle="dropdown" src="http://lorempixel.com/50/50/" />
                            <ul class="dropdown-menu">
                                <li><a href="../profile.html">Profile</a></li>
                                <li><a href="../mytournaments.html">My Tournaments</a></li>
                                <li><a href="#">Logout</a></li>
                            </ul>
                        </li>
                        <li><a href="../settings.html" id="topRightMenu">Settings</a></li>
                        <li><a href="../contactus.html">Contact</a></li>
                    </ul>
                    <form class="navbar-form navbar-left">
                        <input type="text" class="form-control" placeholder="Search tournament..."> </form>
                </div>
            </div>
        </nav>
    </header>
    <!-- Page Content -->
    <div class="container">
        <!-- Heading Row -->
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-9">
                        <ul class="nav nav-tabs">
                            <li class="active"><a data-toggle="tab" href="#info">Info</a></li>
                            <li><a data-toggle="tab" href="#bracket">Bracket</a></li>
                            <li><a data-toggle="tab" href="#matchs">Matchs</a></li>
                            <li><a data-toggle="tab" href="#support">Support</a></li>
                        </ul>
                        <div class="tab-content">
                            <div id="info" class="tab-pane fade in active">
                                <br>
                                <div class="jumbotron">
                                    <h1>Blizzcon World Championship</h1>
                                    <p>Hearthstone, originally known as Hearthstone: Heroes of Warcraft, is a free-to-play online collectible card video game developed and published by Blizzard Entertainment. Having been released worldwide on March 11, 2014, Hearthstone builds upon the already existing lore of the Warcraft series by using the same elements, characters, and relics.</p>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">Info</div>
                                    <div class="panel-body">
                                        <p><strong>Game: </strong>Hearthstone</p>
                                        <p><strong>Mode: </strong>1v1</p>
                                        <p><strong>participants: </strong>12/32</p>
                                        <p><i class="fa fa-clock-o fa-5" aria-hidden="true"></i> 12-13-19 at 13:00</p>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">Podium</div>
                                    <div class="panel-body">
                                        <ul class="list-group">
                                            <li class="list-group-item"> 1. <img src="http://lorempixel.com/30/30" class="img-thumbnail" /> <a href="profile.html">Dimi3</a> </li>
                                            <li class="list-group-item"> 2. <img src="http://lorempixel.com/30/30" class="img-thumbnail" /> <a href="profile.html">Dimi3</a> </li>
                                            <li class="list-group-item"> 3. <img src="http://lorempixel.com/30/30" class="img-thumbnail" /> <a href="profile.html">Dimi3</a> </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">Chat</div>
                                    <div class="panel-body"> </div>
                                </div>
                            </div>
                            <div id="bracket" class="tab-pane"></div>
                            <div id="matchs" class="tab-pane">
                                <br>
                                <ul class="list-group">
                                    <li class="list-group-item">
                                        <table class="table">
                                            <tbody>
                                                <tr class="success">
                                                    <td><img src="http://lorempixel.com/30/30" class="img-thumbnail" /> <a href="profile.html">Dimi3</a></td>
                                                </tr>
                                                <tr class="danger">
                                                    <td><img src="http://lorempixel.com/30/30" class="img-thumbnail" /> <a href="profile.html">Dimi3</a></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </li>
                                    <li class="list-group-item">
                                        <table class="table">
                                            <tbody>
                                                <tr class="success">
                                                    <td><img src="http://lorempixel.com/30/30" class="img-thumbnail" /> <a href="profile.html">Dimi3</a></td>
                                                </tr>
                                                <tr class="danger">
                                                    <td><img src="http://lorempixel.com/30/30" class="img-thumbnail" /> <a href="profile.html">Dimi3</a></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </li>
                                    <li class="list-group-item">
                                        <table class="table">
                                            <tbody>
                                                <tr class="success">
                                                    <td><img src="http://lorempixel.com/30/30" class="img-thumbnail" /> <a href="profile.html">Dimi3</a></td>
                                                </tr>
                                                <tr class="danger">
                                                    <td><img src="http://lorempixel.com/30/30" class="img-thumbnail" /> <a href="profile.html">Dimi3</a></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </li>
                                </ul>
                            </div>
                            <div id="support" class="tab-pane">
                                <br>
                                <div class="well">Contact with an admin:</div>
                                <textarea type="text" class="form-control" rows="5" style="max-width: 100%;"></textarea>
                                <br>
                                <div class="text-right"> <a href="#" class="btn btn-info btn-lg">Contact</a> </div>
                            </div>
                        </div>
                        <!-- /.row -->
                    </div>
                    <div class="col-md-3">
                        <div class="">
                            <div class="text-right"> <a href="#" class="btn btn-success btn-block">Join in</a> </div>
                        </div>
                        <br>
                        <div class="panel panel-default">
                            <div class="panel-heading">Info</div>
                            <div class="panel-body">
                                <p><strong>Game: </strong>Hearthstone</p>
                                <p><strong>Mode: </strong>1v1</p>
                                <p><strong>participants: </strong>12/32</p>
                                <p><i class="fa fa-clock-o fa-5" aria-hidden="true"></i> 12-13-19 at 13:00</p>
                            </div>
                        </div>
                        <hr>
                        <div class="panel panel-default">
                            <div class="panel-heading">Admins:</div>
                            <ul class="panel-body list-group">
                                <li class="list-group-item"> <a href="../profile.html">Dimi3sinculotes</a> </li>
                                <li class="list-group-item"> <a href="../profile.html">Dimi3sinculotes</a> </li>
                                <li class="list-group-item"> <a href="../profile.html">Dimi3sinculotes</a> </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.container -->
    <!-- Footer -->
    <footer class="col-lg-12 navbar-inverse">
        <div class="row">
            <div class="col-lg-12 ">
                <p>Copyright &copy; Dispute Project 2017, all rights reserved.</p>
            </div>
        </div>
    </footer>
    <!-- jQuery -->
    <script src="../js/jquery.js "></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="../js/bootstrap.min.js "></script>
</body>

</html>
