<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, shrink-to-fit=no, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Contact us</title>
    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="css/simple-sidebar.css" rel="stylesheet">
    <link href="css/settingsstyle.css" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<!-- Navigation -->
<header>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button> <img id="navbar-icon" src="images/logoHeader.png" /> </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-left">
                    <li><a href='index.html'>Home</a></li>
                    <li><a href='tournaments.html'>Tournaments</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li> <img id="profile" class="img-circle dropdown-toggle" data-toggle="dropdown" src="http://lorempixel.com/50/50/" />
                        <ul class="dropdown-menu">
                            <li><a href="profile.html">Profile</a></li>
                            <li><a href="tournaments.html">My Tournaments</a></li>
                            <li><a href="#">Logout</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Settings</a></li>
                    <li><a href="#">Help</a></li>
                </ul>
                <form class="navbar-form navbar-left">
                    <input type="text" class="form-control" placeholder="Search tournament..."> </form>
            </div>
        </div>
    </nav>
</header>

<body>
    <div id="wrapper">
        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li id="sideMenuFirstLink">
                    <a href="profile.html">
                        <p class="menulinks">Profile</p>
                    </a>
                </li>
                <li>
                    <a href="tournaments.html">
                        <p class="menulinks">Tournaments</p>
                    </a>
                </li>
                <li>
                    <a href="settings.html">
                        <p class="menulinks">Settings</p>
                    </a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->
        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <h1 id="title">Contact us:</h1>
                        <div class="col-lg-10">
                            <div id="contactUsBody">
                                <h2>Dispute's development team:</h2>
                                <p>Raúl Soto: r.sotosan@alumnos.urjc.es</p>
                                <p>Constin Dragos Dogaru: cd.dogaru@alumnos.urjc.es</p>
                                <p>Rafał Daniel Szpecht: rd.szpecht@alumnos.urjc.es</p>
                                <p>Alejandro Romero Fonteboa: ar.fonteboa@alumnos.urjc.es</p>
                                <h2>Dispute's facebook page:</h2>
                                <p><a href="https://www.facebook.com/Dispute-627402047448785/?ref=ts&fref=ts"> Facebook page</a></p>
                                <h2>Dispute's twitter account:</h2>
                                <p>@dispute.web</p>
                                <h2>Dispute's email:</h2>
                                <p>dispute.web@gmail.com</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->
    </div>
    <!-- /#wrapper -->
    <!-- jQuery -->
    <script src="js/jquery.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>
    <!-- Menu Toggle Script -->
    <script>
        $("#menu-toggle").click(function (e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
        });
    </script>
</body>

</html>
