<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Dispute Project</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/small-business.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">
                    <img src="images/logo.png" width="75">
                </a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="#">Login</a>
                    </li>
                    <li>
                        <a href="#">Services</a>
                    </li>
                    <li>
                        <a href="#">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Content -->
    <div class="container">

        <!-- Heading Row -->
        <div class="row">
            <div class="col-md-8">
                <img class="img-responsive img-rounded" src="images/pantalla%20principal%20proto.jpg" alt="">
            </div>
            <!-- /.col-md-8 -->
            <div class="col-md-4">
                <h1 class="Title1"><strong> Dispute</strong></h1>
                <p>Try out yourself in your favorite games and challenge your friends and enemies. Do you think you can beat everyone and become the winner? or you will perish like all the others who challenged our champions? WELLCOME TO DISPUTE, THE HOME OF THE EPIC BATTLES.</p>
                <a class="btn btn-primary btn-lg" href="#">Sign up for free!</a>
            </div>
            <!-- /.col-md-4 -->
        </div>
        <!-- /.row -->

        <hr>

        <!-- Call to Action Well -->
        <div class="row">
            <div class="col-lg-12">
                <div class="well text-center">
                    Most popular tournaments at the moment:
                </div>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->

        <!-- Content Row -->
        <div class="row">
            <div class="col-md-4">
                <h2 class="Title1">Tekken X Street Fighter EVO 2017</h2>
                <p>The koreans are making this sample text to test our web since the koreans always win in fighting games and tekken x street fighter is complete bullshit and it would make no sence it to be the number one in popularity cheers.</p>
                <a class="btn btn-default" href="#">View bracket</a>
            </div>
            <!-- /.col-md-4 -->
            <div class="col-md-4">
                <h2 class="Title1">Hearthstone: Heroes of Warcraft | BLIZZCON 2017</h2>
                <p>Pavel's book OP comboed with the Kappa Kappa OpieOP OpieOP PogChamp PogChamp Yogg saaron, rip Thjis where are our packs bro? where are our packs? pavel learn to play bro bro huh? so lucky, kripp is so bad at arena tho, Kappa cheers.</p>
                <a class="btn btn-default" href="#">View bracket</a>
            </div>
            <!-- /.col-md-4 -->
            <div class="col-md-4">
                <h2 class="Title">Counter Strike Global Offensive | Final | World's Cup</h2>
                <p>Hey guys look at us, we have no scopes but we have the best aim in the entire first person shoter comunity, the graphics looks like wolfesteins in 1943 but hey everyone plays this instead of Battlefield 1 so where is the problem? Drink some mountain dew and eat some doritos becoz this is about to start, cheers.</p>
                <a class=" btn btn-default " href="# ">View bracket</a>
            </div>
            <!-- /.col-md-4 -->
        </div>
        <!-- /.row -->

        
    </div>
    <!-- /.container -->

    <!-- Footer -->
        <footer>
            <div class="row ">
                <div class="col-lg-12 ">
                    <p>Copyright &copy; Dispute Project 2017, all rights reserved.</p>
                </div>
            </div>
        </footer>

    <!-- jQuery -->
    <script src="js/jquery.js "></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js "></script>

</body>

</html>
