<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Dispute Project</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet"> </head>

<body>
    <!-- Navigation -->
    <header>
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button> <img id="navbar-icon" src="images/logoHeader.png" /> </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-left">
                        <li><a href='index.html'>Home</a></li>
                        <li><a href='tournaments.html'>Tournaments</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li> <img id="profile" class="img-circle dropdown-toggle" data-toggle="dropdown" src="http://lorempixel.com/50/50/" />
                            <ul class="dropdown-menu">
                                <li><a href="profile.html">Profile</a></li>
                                <li><a href="tournaments.html">My Tournaments</a></li>
                                <li><a href="#">Logout</a></li>
                            </ul>
                        </li>
                        <li><a href="#">Settings</a></li>
                        <li><a href="#">Help</a></li>
                    </ul>
                    <form class="navbar-form navbar-left">
                        <input type="text" class="form-control" placeholder="Search tournament..."> </form>
                </div>
            </div>
        </nav>
    </header>
    <!-- Page Content -->
    <div class="container">
        <!-- Heading Row -->
        <div class="row">
            <div class="col-md-8"> <img class="img-responsive img-rounded" src="images/pantalla%20principal%20proto.jpg" alt=""> </div>
            <!-- /.col-md-8 -->
            <div class="col-md-4">
                <h1 class="Title1"><strong> Dispute</strong></h1>
                <p>Try out yourself in your favorite games and challenge your friends and enemies. Do you think you can beat everyone and become the winner? or you will perish like all the others who challenged our champions? WELLCOME TO DISPUTE, THE HOME OF THE EPIC BATTLES.</p> <a class="btn btn-primary btn-lg" href="signup.html">Sign up for free!</a> </div>
            <!-- /.col-md-4 -->
        </div>
        <!-- /.row -->
        <hr>
        <!-- Call to Action Well -->
        <div class="row">
            <div class="col-lg-12">
                <div class="well text-center"> Most popular tournaments at the moment: </div>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <!-- Content Row -->
        <div class="row">
            <div class="col-md-4">
                <h2 class="Title1"><a class="tournamentLinks" href="tournaments.html">Tekken X Street Fighter EVO 2017</a></h2>
                <p>The koreans are making this sample text to test our web since the koreans always win in fighting games and tekken x street fighter is complete bullshit and it would make no sence it to be the number one in popularity cheers.</p> <a class="btn btn-primary btn-lg" href="tournaments.html">View bracket</a> </div>
            <!-- /.col-md-4 -->
            <div class="col-md-4">
                <h2 class="Title1"><a class="tournamentLinks" href="tournaments.html">Hearthstone: Heroes of Warcraft | BLIZZCON 2017</a> </h2>
                <p>Pavel's book OP comboed with the Kappa Kappa OpieOP OpieOP PogChamp PogChamp Yogg saaron, rip Thjis where are our packs bro? where are our packs? pavel learn to play bro bro huh? so lucky, kripp is so bad at arena tho, Kappa cheers.</p> <a class="btn btn-primary btn-lg" href="tournaments.html">View bracket</a> </div>
            <!-- /.col-md-4 -->
            <div class="col-md-4">
                <h2 class="Title1"><a class="tournamentLinks" href="tournaments.html">Counter Strike Global Offensive | Final | World's Cup</a></h2>
                <p>Hey guys look at us, we have no scopes but we have the best aim in the entire first person shoter comunity, the graphics looks like wolfesteins in 1943 but hey everyone plays this instead of Battlefield 1 so where is the problem? Drink some mountain dew and eat some doritos becoz this is about to start, cheers.</p> <a class=" btn btn-primary btn-lg" href="tournaments.html">View bracket</a> </div>
            <!-- /.col-md-4 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
    <!-- Footer -->
    <footer class="col-lg-12 navbar-inverse">
        <div class="row">
            <div class="col-lg-12 ">
                <p>Copyright &copy; Dispute Project 2017, all rights reserved.</p>
            </div>
        </div>
    </footer>
    <!-- jQuery -->
    <script src="js/jquery.js "></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js "></script>
</body>

</html>
