<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Dispute Project</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet"> </head>

<body id="newTournamentBdy">
    <!-- Navigation -->
    <header>
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
                    <a href="index.html"><img id="navbar-icon" src="images/logoHeader.png" /></a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-left">
                        <li><a href='index.html'>Home</a></li>
                        <li><a href='tournaments.html'>Tournaments</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li> <img id="profile" class="img-circle dropdown-toggle" data-toggle="dropdown" src="http://lorempixel.com/50/50/" />
                            <ul class="dropdown-menu">
                                <li><a href="profile.html">Profile</a></li>
                                <li><a href="mytournaments.html">My Tournaments</a></li>
                                <li><a href="#">Logout</a></li>
                            </ul>
                        </li>
                        <li><a href="settings.html" id="topRightMenu">Settings</a></li>
                        <li><a href="contactus.html">Contact</a></li>
                    </ul>
                    <form class="navbar-form navbar-left">
                        <input type="text" class="form-control" placeholder="Search tournament..."> </form>
                </div>
            </div>
        </nav>
    </header>

    <!-- Page Content -->
    <h1 class="Title2">Create a tournament:</h1>
    <div class="col-lg-12">
        <div class="createATournamentBody">
            <div class="tournamentField">
                <div class="col-md-2">
                    <p class="options"> Tournament name: </p>
                </div>
                <div class="col-lg-8">
                    <input type="text" class="form-control" id="name">
                </div>
            </div>
            <div class="tournamentField">
                <div class="col-md-2">
                    <p class="options"> URL: </p>
                </div>
                <div class="col-lg-8">
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon3">http://dispute-project.com/tournament/</span>
                        <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3">
                    </div>
                </div>
            </div>
            <div class="tournamentField">
                <div class="col-md-2">
                    <p class="options"> Tournament type: </p>
                </div>
                <div class="col-lg-8">
                    <div class="radio">
                        <label>
                            <input type="radio" name="optradio">Single stage tournament</label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" name="optradio">Two stage tournament</label>
                    </div>
                    <div class="radio disabled">
                        <label>
                            <input type="radio" name="optradio" disabled>
                            <p id="semitransparentTxt">Custom (only for GMs)</p>
                        </label>
                    </div>
                </div>
            </div>

            <div class="tournamentField"></div>

            <div class="tournamentField">
                <div class="col-md-2">
                    <p class="options"> Format: </p>
                </div>
                <div class="col-lg-8">
                    <div class="radio">
                        <label>
                            <input type="radio" name="format">Single Elimination</label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" name="format">Double Elimination</label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" name="format">Round Robin</label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" name="format">Swiss</label>
                    </div>
                </div>
            </div>

            <div class="tournamentField"></div>
            <div class="tournamentField"></div>

            <div class="tournamentField">
                <div class="col-md-2">
                    <p class="options"> Registration: </p>
                </div>
                <div class="col-lg-8">
                    <div class="radio">
                        <label>
                            <input type="radio" name="registration">Provide a list of participants</label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" name="registration">Host a sign-up page</label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" value="">Team sign-in?</label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" value="">Maximum number of participants?</label>
                    </div>

                </div>
            </div>

            <div class="tournamentField"></div>
            <div class="tournamentField"></div>

            <div class="tournamentField">
                <div class="col-md-2">
                    <p class="options"> Start time: </p>
                </div>
                <div class="col-lg-8">
                    <input type="text" class="form-control" id="name">
                </div>
            </div>

            <div class="tournamentField">
                <div class="col-md-2">
                    <p class="options"> Game: </p>
                </div>
                <div class="col-lg-8">
                    <input type="text" class="form-control" id="name">
                </div>
            </div>

            <div class="tournamentField">
                <div class="col-md-2">
                    <p class="options"> Description: </p>
                </div>
                <div class="col-lg-8">
                    <div class="form-group">
                        <textarea class="form-control" rows="5" id="comment"></textarea>
                    </div>
                </div>
            </div>

            <div class="tournamentField"></div>
            <div class="tournamentField"></div>
            <div class="tournamentField"></div>
            <div id="confirmButton">
                <div id="applyChanges"> <a class="btn btn-primary btn-lg" href="settings.html">Create</a> </div>
            </div>
        </div>
    </div>
    <!-- /.container -->
    <!-- Footer -->
    <footer class="col-lg-12 navbar-inverse">
        <div class="row">
            <div class="col-lg-12 ">
                <p>Copyright &copy; Dispute Project 2017, all rights reserved.</p>
            </div>
        </div>
    </footer>
    <!-- jQuery -->
    <script src="js/jquery.js "></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js "></script>
</body>

</html>
