<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, shrink-to-fit=no, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Simple Sidebar - Start Bootstrap Template</title>
    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="css/style.css" rel="stylesheet"> </head>

<body>
    <header>
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button> <img id="navbar-icon" src="images/logoHeader.png" /> </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-left">
                        <li><a href='index.html'>Home</a></li>
                        <li><a href='tournaments.html'>Tournaments</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li> <img id="profile" class="img-circle dropdown-toggle" data-toggle="dropdown" src="http://lorempixel.com/50/50/" />
                            <ul class="dropdown-menu">
                                <li><a href="profile.html">Profile</a></li>
                                <li><a href="tournaments.html">My Tournaments</a></li>
                                <li><a href="#">Logout</a></li>
                            </ul>
                        </li>
                        <li><a href="#">Settings</a></li>
                        <li><a href="#">Help</a></li>
                    </ul>
                    <form class="navbar-form navbar-left">
                        <input type="text" class="form-control" placeholder="Search tournament..."> </form>
                </div>
            </div>
        </nav>
    </header>
    <!-- /#wrapper -->
    <div class="container-fluid">
        <div class="col-md-2 col-sm-3 hidden-xs">
            <div id="secciones" class="list-group">
                <ul> <a href="#" id="seccion_header" class="list-group-item active">Sections</a> <a href="#" class="list-group-item">Description</a> <a href="#" class="list-group-item">Members</a> <a href="#" class="list-group-item">External Researchers</a> <a href="#" class="list-group-item">Optimization Problems</a> <a href="#" class="list-group-item">Black-Box Solvers</a> </ul>
            </div>
        </div>
        <footer class="col-lg-12 navbar-inverse">
            <div class="col-lg-12 ">
                <p>Copyright &copy; Dispute Project 2017, all rights reserved.</p>
            </div>
        </footer>
        <!-- jQuery -->
        <script src="js/jquery.js"></script>
        <!-- Bootstrap Core JavaScript -->
        <script src="js/bootstrap.min.js"></script>
</body>

</html>
