<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Dispute Project</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet"> </head>

<body>
    <!-- Navigation -->
    <header>
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
                    <a href="index.html"><img id="navbar-icon" src="images/logoHeader.png" /></a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-left">
                        <li><a href='index.html'>Home</a></li>
                        <li><a href='tournaments.html'>Tournaments</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li> <img id="profile" class="img-circle dropdown-toggle" data-toggle="dropdown" src="http://lorempixel.com/50/50/" />
                            <ul class="dropdown-menu">
                                <li><a href="profile.html">Profile</a></li>
                                <li><a href="mytournaments.html">My Tournaments</a></li>
                                <li><a href="#">Logout</a></li>
                            </ul>
                        </li>
                        <li><a href="settings.html" id="topRightMenu">Settings</a></li>
                        <li><a href="contactus.html">Contact</a></li>
                    </ul>
                    <form class="navbar-form navbar-left">
                        <input type="text" class="form-control" placeholder="Search tournament..."> </form>
                </div>
            </div>
        </nav>
    </header>
    <!-- Page Co    ntent -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-8">
                <div class="panel panel-default">
                    <div class="panel-heading"> TOURNAMENTS </div>
                    <div class="panel-group">
                        <div class="panel panel-default text-left"><a href="tournament/tournament0001.html" class="tournament"><strong>Blizzcon World Championship</strong></a>
                            <div class="row">
                                <div class="col-lg-6">
                                    <p class="info"><span><img src="images/games/hearthstoneIcon.png"/></span>Hearthstone || 1v1 || Participans: 12/32</p>
                                    <p class="info">12-13-19 at 13:00</p>
                                </div>
                                <div class="col-lg-1 col-lg-offset-4"><a href="tournament/tournament0001.html" class="btn btn-large btn-success"><strong>Join in</strong></a></div>
                            </div>
                            <p>Hearthstone, originally known as Hearthstone: Heroes of Warcraft, is a free-to-play online collectible card video game developed and published by Blizzard Entertainment. Having been released worldwide on March 11, 2014, Hearthstone builds upon the already existing lore of the Warcraft series by using the same elements, characters, and relics.</p>
                        </div>
                        <div class="panel panel-default text-left"><a href="tournament/tournament0002.html" class="tournament"><strong>Counter Final CS | World's Cup</strong></a>
                            <div class="row">
                                <div class="col-lg-6">
                                    <p class="info"><span><img src="images/games/counterIcon.png"/></span>Counter Strike || 5v5 || Participans: 12/32</p>
                                    <p class="info">12-13-19 at 13:00</p>
                                </div>
                                <div class="col-lg-1 col-lg-offset-4"><a href="tournament/tournament0001.html" class="btn btn-large btn-success"><strong>Join in</strong></a></div>
                            </div>
                            <p>Counter-Strike (officially abbreviated as CS) is a series of multiplayer first-person shooter video games, in which teams of terrorists and counter-terrorists battle to, respectively, perpetrate an act of terror (bombing, hostage-taking) and prevent it (bomb defusal, hostage rescue). The series began on Windows in 1999 with the first version of Counter-Strike.</p>
                        </div>
                        <div class="panel panel-default text-left"><a href="tournament/tournament0003.html" class="tournament"><strong>Tekken 2017 International Championship</strong></a>
                            <div class="row">
                                <div class="col-lg-6">
                                    <p class="info"><span><img src="images/games/tekkenIcon.png"/></span>Tekken X Street Fighter || 1v1 || Participans: 12/32</p>
                                    <p class="info">12-13-19 at 13:00</p>
                                </div>
                                <div class="col-lg-1 col-lg-offset-4"><a href="tournament/tournament0001.html" class="btn btn-large btn-success"><strong>Join in</strong></a></div>
                            </div>
                            <p>Tekken is a fighting video game franchise created, developed, and published by Namco (later Bandai Namco Entertainment). Beginning with the original Tekken in December 1994, the series has received several sequels as well as updates and spin-off titles. Tekken was one of the first fighting games at the time to use 3D animation. The series has also been adapted into three films and other media.</p>
                        </div>
                        <div class="panel panel-default text-left"><a href="tournament/tournament0001.html" class="tournament"><strong>Blizzcon World Championship</strong></a>
                            <div class="row">
                                <div class="col-lg-6">
                                    <p class="info"><span><img src="images/games/hearthstoneIcon.png"/></span>Hearthstone || 1v1 || Participans: 12/32</p>
                                    <p class="info">12-13-19 at 13:00</p>
                                </div>
                                <div class="col-lg-1 col-lg-offset-4"><a href="tournament/tournament0001.html" class="btn btn-large btn-success"><strong>Join in</strong></a></div>
                            </div>
                            <p>Hearthstone, originally known as Hearthstone: Heroes of Warcraft, is a free-to-play online collectible card video game developed and published by Blizzard Entertainment. Having been released worldwide on March 11, 2014, Hearthstone builds upon the already existing lore of the Warcraft series by using the same elements, characters, and relics.</p>
                        </div>
                        <div class="panel panel-default text-left"><a href="tournament/tournament0001.html" class="tournament"><strong>Blizzcon World Championship</strong></a>
                            <div class="row">
                                <div class="col-lg-6">
                                    <p class="info"><span><img src="images/games/hearthstoneIcon.png"/></span>Hearthstone || 1v1 || Participans: 12/32</p>
                                    <p class="info">12-13-19 at 13:00</p>
                                </div>
                                <div class="col-lg-1 col-lg-offset-4"><a href="tournament/tournament0001.html" class="btn btn-large btn-success"><strong>Join in</strong></a></div>
                            </div>
                            <p>Hearthstone, originally known as Hearthstone: Heroes of Warcraft, is a free-to-play online collectible card video game developed and published by Blizzard Entertainment. Having been released worldwide on March 11, 2014, Hearthstone builds upon the already existing lore of the Warcraft series by using the same elements, characters, and relics.</p>
                        </div>
                        <div class="panel panel-default text-left"><a href="tournament/tournament0003.html" class="tournament"><strong>Tekken 2017 International Championship</strong></a>
                            <div class="row">
                                <div class="col-lg-6">
                                    <p class="info"><span><img src="images/games/tekkenIcon.png"/></span>Tekken X Street Fighter || 1v1 || Participans: 12/32</p>
                                    <p class="info">12-13-19 at 13:00</p>
                                </div>
                                <div class="col-lg-1 col-lg-offset-4"><a href="tournament/tournament0001.html" class="btn btn-large btn-success"><strong>Join in</strong></a></div>
                            </div>
                            <p>Tekken is a fighting video game franchise created, developed, and published by Namco (later Bandai Namco Entertainment). Beginning with the original Tekken in December 1994, the series has received several sequels as well as updates and spin-off titles. Tekken was one of the first fighting games at the time to use 3D animation. The series has also been adapted into three films and other media.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="panel panel-default">
                    <div class="panel-heading">Filters</div>
                    <br>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="col-lg-4">
                                <p>Name:</p>
                            </div>
                            <div class="col-lg-8">
                                <input type="text" class="form-control" /> </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="col-lg-4">
                                <p>Description:</p>
                            </div>
                            <div class="col-lg-8">
                                <textarea type="text" class="form-control" rows="3" style="max-width: 100%;"></textarea>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="col-lg-4">
                                <p>Game:</p>
                            </div>
                            <div class="col-lg-8">
                                <div class="form-group">
                                    <select class="form-control" id="sel1">
                                        <option>All</option>
                                        <option>Hearthstone</option>
                                        <option>Counter Strike</option>
                                        <option>Tekken X Street Fighter</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="col-lg-4">
                                <p>Teams:</p>
                            </div>
                            <div class="col-lg-8">
                                <div class="form-group">
                                    <select class="form-control" id="sel1">
                                        <option>All</option>
                                        <option>1v1</option>
                                        <option>2v2</option>
                                        <option>3v3</option>
                                        <option>4v4</option>
                                        <option>5v5</option>
                                        <option>>5v5</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-lg-offset-1">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" value="" checked>Show complete tournaments</label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" value="" checked>Show started tournaments</label>
                            </div>
                            <div class="checkbox disabled">
                                <label>
                                    <input type="checkbox" value="">Show finished tournaments</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="text-right"> <a class="btn btn-info btn-lg">Filter</a> </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
    <!-- Footer -->
    <footer class="col-lg-12 navbar-inverse">
        <div class="row">
            <div class="col-lg-12 ">
                <p>Copyright &copy; Dispute Project 2017, all rights reserved.</p>
            </div>
        </div>
    </footer>
    <!-- jQuery -->
    <script src="js/jquery.js "></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js "></script>
</body>

</html>
