<body>
<!--
 
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" *ngFor="let UserInMatch of usersInMatch">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <form action="../tournament/{{tournament.name}}/setMatchUp" method="post">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">You have a matchup</h4>
          </div>
          <div class="modal-body">
            <table class="table">
              <input type="hidden" name="_csrf" value="{{token}}" />
              <input type="hidden" name="idMatchUp" value="{{userMatch.id}}" />
              <input type="hidden" name="idRound" value="{{userRound.getRoundId}}" />
              <tbody>
                <tr>
                  <td><img src="../image/{{userMatch.player1.avatar}}" class="img-thumbnail" height="50" width="50" /> <a href="../user/{{userMatch.player1.name}}">{{userMatch.player1.name}}</a></td>
                  <td> </td>
                  <td class="text-right">
                    <input type="number" name="result1" min="0" max="3" value="0">
                  </td>
                </tr>
                <tr>
                  <td><img src="../image/{{userMatch.player2.avatar}}" class="img-thumbnail" height="50" width="50" /> <a href="../user/{{userMatch.player2.name}}">{{userMatch.player2.name}}</a></td>
                  <td> </td>
                  <td class="text-right">
                    <input type="number" name="result2" min="0" max="3" value="0">
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <input type="submit" class="btn btn-primary" value="Save changes">
          </div>
        </form>
      </div>
    </div>
  </div> 
-->
  <div class="container">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="row">
          
          <!-- <div class="alert alert-danger alert-dismissable"> <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a> <strong>Error: </strong>You're already in this tournament </div>-->
          <div class="col-md-9">

            <ul class="nav nav-tabs">
              <li class="active"><a data-toggle="tab" href="#info">Info</a></li>
              <li><a data-toggle="tab" href="#participants">Participants</a></li>
              <li><a data-toggle="tab" href="#rounds">Rounds</a></li> 
              <li><a data-toggle="tab" href="#support">Support</a></li>
              <li><a data-toggle="tab" href="#admin" *ngIf="isAdmin">Admin</a></li> 
            </ul>


            <div class="tab-content">
              <div id="info" class="tab-pane fade in active">
                <br>
                <div class="jumbotron">
                  <h1>{{tournament.name}}</h1>
                  <p>{{tournament.description}}</p>
                </div>
                <div class="panel panel-default">
                  <div class="panel-heading">Info</div>
                  <div class="panel-body">
                    <p><strong>  Game: <img src="/assets/images/{{tournament.game.img}}.png" height="20" width="20" /> {{tournament.game.name}}</strong></p>
                    <p><strong>Mode: </strong>{{tournament.mode}}</p>
                    <p><strong>participants: </strong>{{tournament.participants.length}}/{{tournament.maxPlayers}}</p>
                    <p><i class="fa fa-clock-o fa-5" aria-hidden="true"></i> {{tournament.date}}</p>
                  </div>
                </div>
                <div class="panel panel-default">
                  <div class="panel-heading">Winner</div>
                  <div class="panel-body">
                   
                  </div>
                </div>
              </div>
              <div id="participants" class="tab-pane">
                <br> 
                <ul *ngFor="let participant of participants" class="list-group">
                  <li class="list-group-item"><img src="https://localhost:8443/image/{{participant.avatar}}" class="img-thumbnail" height="50" width="50" /><a href="../user/{{participant.name}}">{{participant.name}} </a></li>
                </ul> 
              </div>
              <div id="rounds" class="tab-pane">
                <ul class="nav nav-tabs"  *ngFor="let round of rounds">
                  <li ><a data-toggle="tab" href="#{{round.id}}">Round {{round.id}}</a></li>
                  <!--<li><a data-toggle="tab">Winner</a></li>--> 
                </ul>
                <div class="tab-content">
                  <div *ngFor="let round of rounds" id="{{round.id}}" class="tab-pane">
                    <br>
                    <ul class="list-group">
                      <li class="list-group-item">
                        <table class="table">
                          
                          <form action="../tournament/{{tournament.name}}/setMatchUp" method="post">
                            
                            <input type="hidden" name="_csrf" value="{{token}}" />
                            <input type="hidden" name="idMatchUp" value="{{id}}" />
                            <input type="hidden" name="idRound" value="{{getRoundId}}" />

                            <tbody>
                              <tr>
                                <td><img src="https://localhost:8443/image/Default" class="img-thumbnail" height="50" width="50" /> <a href="users">Raul</a></td>
                                <td> </td> 
                                <td class="text-right">
                                  <input type="number" name="result1" min="0" max="3" value="0"/>
                                </td>
                                <td class="text-right">
                                  <p></p>
                                </td>
                              </tr>
                              <tr>
                                <td><img src="https://localhost:8443/image/Default" class="img-thumbnail" height="50" width="50" /> <a href="users">Rafa</a></td>
                                <td> </td> 
                                <td class="text-right">
                                  <input type="number" name="result2" min="0" max="3" value="0"/>
                                </td> 
                                <td class="text-right">
                                  <p></p>
                                </td>
                              </tr>
                              <tr>
                                <td> </td>
                                <td> </td>
                                <td class="text-right">
                                  <input type="submit"/>
                                </td>
                              </tr>
                            </tbody>
                          </form>
                        </table>
                        <table class="table">
                          <tbody>
                            <tr>
                              <td><img src="../image/{{lastParticipant.avatar}}" class="img-thumbnail" height="50" width="50" /> <a href="../user/{{lastParticipant.name}}">{{lastParticipant.name}}</a></td>
                              <td> </td>
                              <td class="text-right"> 3 </td>
                            </tr>
                            <tr>
                              <td>
                                <h3>FREE WIN</h3>
                              </td>
                              <td> </td>
                              <td class="text-right"> 0 </td>
                            </tr>
                          </tbody>
                        </table>
                      </li>
                    </ul>
                  </div> 
                  <div id="winner" class="tab-pane">
                    <br>
                    <div class="text-center">
                      <h2>AND THE WINNER IS...</h2>
                      <br> {{tournament.actualParticipants}} <img src="../image/{{avatar}}" class="img-thumbnail" height="200" width="200" />
                      <p></p> 
                    </div>
                  </div>
                  <br>
                  <div class="text-center">
                    <h2>This tournament hasn't started yet</h2>
                  </div> 
                </div>
              </div> 

              <div id="support" class="tab-pane" ngFor="isLogged">
                <br>
                <div class="well">Contact with an admin:</div>
                <form action="../tournament/{{tournament.name}}/newIssue" method="post" id="issueform">
                  <input type="hidden" name="_csrf" value="{{token}}" />
                  <textarea name="issue" type="text" class="form-control" rows="5" style="max-width: 100%;" form="issueform"></textarea>
                  <br>
                  <div class="text-right">
                    <input type="submit" class="btn btn-info btn-lg" value="Contact"/>
                  </div>
                </form>
              </div>

              <div id="admin" class="tab-pane">
                <br>
                <div class="well" ><strong>Start tournament</strong></div>
                <form action="../tournament/{{tournament.name}}/startTournament" method="post">
                  <input type="hidden" name="_csrf" value="{{token}}" />
                  <input type="submit" class="btn btn-large btn-block btn-success" value="START">
                </form>

             

                <div class="well" ><strong>Confirm round and continue tournament...</strong></div>
                <form action="../tournament/{{tournament.name}}/confirmRound" method="post">
                  <input type="hidden" name="_csrf" value="{{token}}" />
                  <input type="hidden" name="idRound" value="{{id}}" />
                  <input type="submit" class="btn btn-large btn-block btn-success" value="CONFIRM">

                </form>

              </div> 
            </div>

          </div>

          <div class="col-md-3">


            <br>

            <div class="panel panel-default">
              <div class="panel-heading">Info</div>
              <div class="panel-body">
                <p><strong>Game: </strong></p>
                <p><strong>Mode: </strong>{{tournament.mode}}</p>
                <p><strong>participants: </strong>{{tournament.participants.length}}/{{tournament.maxPlayers}}</p>
                <p><i class="fa fa-clock-o fa-5" aria-hidden="true"></i> {{tournament.date}}</p>
              </div>
            </div>
            <hr>

           

          </div>
        </div>
      </div>
    </div>
  </div>