/* You can add global styles to this file, and also import other style files */

body#loadingb {
  background-color: #344557;
}

#loadingd {
  color: white;
  text-decoration-color: white;
  align-content: center;
  align-items: center;
  margin-left: 35%;
  margin-top: 8%;
}

#loadingh {
  color: white;
  align-self: center;
  margin-left: 1em;
}