/* You can add global styles to this file, and also import other style files */

body {
  background-color: #344557;
}

#content {
  color: white;
  text-decoration-color: white;
  align-content: center;
  align-items: center;
  margin-left: 35%;
  margin-top: 8%;
}

h1#loading {
  color: white;
  align-self: center;
  margin-left: 1em;
}