/* colores
 De mas claro a mas oscuro

             #f2f2f2;
    color 1: #B6B6D4;
    color 2: #6969A2;
    color 3: #11114C;
    color 4: #020221;
    color 5: #343477;
*/

footer {
    padding: 30px 0;
    /* background-color: #141716; */
    color: #8DEFEC;
    text-align: center;
    margin-top: 5em;
}

.Title1 {
    color: #343477;
}

#profile {
    cursor: hand;
    cursor: pointer;
}

.well {
    background: #2B2E2D;
}

.btn-primary {
    background-color: #141716;
    color: white;
}

.btn-primary:hover {
    background-color: #6969A2;
    color: white;
}

.btn-primary:active:hover {
    background-color: #6969A2;
    color: white;
}

.btn-primary:focus {
    background-color: #B6B6D4;
    color: black;
}

#navbar-icon {
    padding-top: 10px;
}

#topRightMenu {
    margin-left: 0.5em;
}

#sidebar-wrapper {
    background: #323937;
}

body {
    background: #f2f2f2;
}

#firstLink {
    padding-top: 4em;
}

.options {
    font-weight: 200;
    font-weight: bold;
}

.settingsCont {
    margin-left: 12%;
    margin-top: 5%;
    margin-right: 8%;
    padding-bottom: 0.5%;
}

.optionScroll {
    align-content: center;
}

.dropdown-toggle {
    width: 100%;
    text-align: left;
}

.dropdown-menu {
    width: 100%;
}

#applyChanges {
    padding-top: 13%;
    text-align-last: center;
}

.btn-primary {
    background-color: #141716;
    color: white;
}

.btn-primary:hover {
    background-color: #226764;
    color: white;
}

.btn-primary:active:hover {
    background-color: #226764;
    color: white;
}

.btn-primary:focus {
    background-color: #8DEFEB;
    color: black;
}

#title {
    text-align: center;
    margin-right: 18%;
    margin-top: 3%;
    font-size: 70;
    font-weight: bolder;
    color: #11114C;
}

#contactUsBody {
    text-align: center;
    text-align-last: center;
    color: black;
}

.settingsSecTitle {
    margin-left: 1.5em;
}

#page-content-wrapper {
    padding-top: 4em;
}

.separator2 {
    height: 2.2em;
}

#profileSetLeftSide {
    height: 27em;
}
