<!--  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <form action="../team/{{actualTeam.name}}/addGame" method="post">
        <input type="hidden" name="_csrf" value="{{token}}" />
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Select the game</h4>
          </div>
          <div class="modal-body">
            Select game:
            <select class="form-control" name="name">
              {{#games}}
              <option>{{name}}</option> {{/games}}
            </select>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <input type="submit" class="btn btn-primary" value="Add">
          </div>
        </div>
      </form>
    </div>
  </div>
-->
  <div class="container">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="row">
          <div class="col-md-3">
            <img src="./assets/files/{{actualTeam.avatar}}.jpg" class="img-thumbnail" height="100" width="100" />
            <h3><strong>{{actualTeam.name}}</strong></h3>
            <hr>
            <p> <span class="fa fa-futbol-o"></span> {{actualTeam.acronym}}</p>
            <br> 
            <div *ngIf="isInTeam; else requestTeam">
            <form method="post">
              <input type="submit" class="btn btn-danger btn-lg" value="Leave Team" (click)="leaveTeam()">
            </form>
            </div>
            <ng-template #requestTeam>
              <form *ngIf="isLogged"  method="post">
              <input type="hidden" name="_csrf" value="{{token}}" />
              <input type="submit" class="btn btn-lg btn-success text-left" value="Request to Join" (click)="newRequest()">
            </form>
            </ng-template>
          </div>
          <div class="col-md-9">
            
            <div *ngIf="successRequest" class="alert alert-success alert-dismissable"> <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a> <strong>Success! Wait for an admin </strong> </div>
            <ul class="nav nav-tabs">
              <li class="active"><a data-toggle="tab" href="#tournaments">Tournaments</a></li>
              <li><a data-toggle="tab" href="#friends">Members</a></li>
              <li><a data-toggle="tab" href="#teams">Games</a></li> 
              <li *ngIf="admin"><a data-toggle="tab" href="#admin">Admin</a></li>
            </ul>
            <div class="tab-content">
              <div id="tournaments" class="tab-pane fade in active">
                <br>
                <div class="well"><strong>Joined tournaments</strong></div>
            <!--    <div class="list-group"><span *ngFor="let tournament of actualTeam.tournaments"><a href="../tournament/{{tournament.name}}" class="list-group-item"><span><img src="../files/{{tournament.game.img}}.png" height="20" width="20" />  - {{tournament.name}}</span></a></span></div>-->
              </div>
              <div id="friends" class="tab-pane fade">
                <br>
                <div class="well"><strong>Members</strong></div>
                <ul class="list-group">
                  <li class="list-group-item" id="captain"  *ngFor="let user of actualTeam.users"><img src="./assets/files/{{user.avatar}}.jpg" class="img-thumbnail" height="50" width="50" /> <a href="../user/{{user.name}}">{{user.name}}</a></li>
                </ul>
              </div>
              <div id="teams" class="tab-pane fade">
                <br>
                <div class="well"><strong>Games</strong></div>
                <ul class="list-group">
                  <li class="list-group-item" *ngFor="let game of actualTeam.games"><img src="./assets/images/{{game.img}}.png" height="30" width="30" /> {{game.name}}</li>
                  <li *ngIf="admin" class="list-group-item">
                    <div class="text-right">
                      <button class="btn btn-default" data-toggle="modal" data-target="#myModal">+Add Game</button>
                    </div>
                  </li>
                </ul>
              </div> 
              
              <div *ngIf="admin" id="admin" class="tab-pane fade">
                
                <br>
                <div class="well"><strong>Requests</strong></div>
                <ul class="list-group">
                  <li *ngFor="let request of requests" class="list-group-item">
                    <div class="row">
                      <div class="col-md-6"> <a [routerLink]="['user/' + request]">{{request}}</a> </div>
                      <div class="col-md-4 text-right">
                        <form >
                          <input type="hidden" name="_csrf" value="{{token}}" />
                          <input type="hidden" name="userId" value="{{id}}" />
                          <input type="hidden" name="accept" value="true" />
                          <input type="submit" class="btn btn-success btn-sm" value="Accept" (click)="accept(request)">
                        </form>
                      </div>
                      <div class="col-md-2 text-right">
                        <form action="../team/{{actualTeam.name}}/acceptRequest" method="post">
                          <input type="hidden" name="_csrf" value="{{token}}" />
                          <input type="hidden" name="userId" value="{{id}}" />
                          <input type="hidden" name="accept" value="false" />
                          <input type="submit" class="btn btn-danger btn-sm" value="Refuse" (click)="refuse(request)">
                        </form>
                      </div>
                    </div>
                  </li>
                  <hr>
                </ul> 
                <!--{{^requests}}
                <div class="list-group-item"> No requests </div>
                <hr>{{/requests}}
                -->
                <div class="well"><strong>Members</strong></div>
                <ul class="list-group">
                  <li *ngFor="let user of actualTeam.users" class="list-group-item">
                    <div class="row">
                      <div class="col-md-6"> <a [routerLink]="['../user/' + user.id]">{{user.name}}</a> </div>
                      <div class="col-md-5 text-right">
                        <form  method="post">
                          <input type="hidden" name="_csrf" value="{{token}}" />
                          <input type="submit" class="btn btn-info btn-sm" value="Add as admin" (click)="accept(user.id)">
                        </form>
                      </div>
                      <div class="col-md-1 text-right">
                        <form>
                          <input type="hidden" name="_csrf" value="{{token}}" />
                          <input type="submit" class="btn btn-danger btn-sm" value="Kick" (click)="kick(user.id)">
                        </form>
                      </div>
                    </div>
                  </li>
                  <hr>
                </ul>
                <!-- {{^actualTeam.users}}
                <div class="list-group-item"> No members</div>
                <hr>{{/actualTeam.users}}
                -->
                <div class="well"><strong>Change team's avatar</strong></div>
                <form action="{{actualTeam.name}}/changeAvatar" method="POST" enctype="multipart/form-data">
                  <input type="hidden" name="_csrf" value="{{token}}" />
                  <input type="file" name="pic" style="color: white;" />
                  <div class="text-right">
                    <input class="btn btn-primary btn-md btn-info" type="submit" value="Change">
                  </div>
                </form>
              </div> 
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
