  <nav class="navbar navbar-default navbar-fixed-top" id="skinNavbar">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
        <a href="index.html"><img id="navbar-icon" src="https://i.gyazo.com/d73dca805d90eaa64d8e9cbd1ff576c2.png" /></a>
      </div>
      <div class="navbar-collapse collapse" id="navbar" id="navbar">
        <ul class="nav navbar-nav navbar-left">
          <li><a [routerLink]="['']"><span class="skinNavbarLinks">Home</span></a></li>
          <li><a [routerLink]="['tournaments']"><span class="skinNavbarLinks">Tournaments</span></a></li>
          <li> <a [routerLink]="['teams']"><span class="skinNavbarLinks">Teams</span></a> </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li>
         
          <li  *ngIf="logged; else elseContainer">
            <img id="profile" class="img-circle dropdown-toggle" data-toggle="dropdown" src="../assets/images/{{user.avatar}}.jpg" height="50" width="50" />
            <ul class="dropdown-menu">
              <li>
                <a [routerLink]="['user/' + user.id]">
                  <strong>{{user.name}}</strong>
                  <p class="small">Profile</p>
                </a>
              </li>
              <li><a href="../myTournaments">My Tournaments</a></li>
              <li>
                <a (click)="logout()" href="./">Logout</a>
              </li>
            </ul>
          </li>
          <li *ngIf="logged;"><a [routerLink]="['settings1']" id="topRightMenu"><span class="skinNavbarLinks">Settings</span></a></li>
          
          
          <ng-template #elseContainer><li><a [routerLink]="['login']"><span class="skinNavbarLinks">Sign in</span></a></li></ng-template>
          
          <li><a [routerLink]="['contactus']"><span class="skinNavbarLinks">Contact</span></a></li>
        </ul>
        <form class="navbar-form navbar-left" action="../findTournament" method="post">
          <input type="hidden" name="_csrf">
          <input type="text" class="form-control" placeholder="Search tournament..." name="name">
        </form>
      </div>
    </div>
  </nav>