<!DOCTYPE html>
<html lang="en">

<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="assets/css/bootstrap.css">
<!-- Website Font style -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
<link rel="icon" href="images/logoB.png" type="image/x-icon" />
<link href="css/bootstrap.min.css" rel="stylesheet">
<!-- Website CSS style -->
<link rel="stylesheet" type="text/css" href="css/style.css">
<link rel="stylesheet" type="text/css" href="css/signup.css">
<!-- Google Fonts -->
<link href='https://fonts.googleapis.com/css?family=Passion+One'
	rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Oxygen'
	rel='stylesheet' type='text/css'>
<title>Sign in Dispute</title>
</head>

<body>
	<div class="container">
		<div class="row main">
			<div class="panel-heading">
				<div class="panel-title text-center">
					<h1 class="title">
						<a class="" href="index.html"> <span><img
								src="images/logoHeaderW.png" /></span></a>
					</h1>
					<hr />
				</div>
			</div>
			<div class="main-login main-center">
				<form class="forml" method="post">
					<input type="hidden" name="_csrf" value="{{token}}" />
					<div class="form-group">
						<label for="name" class="cols-sm-2 control-label name2">Name</label>
						<div class="cols-sm-10">
							<div class="input-group">
								<span class="input-group-addon"><i
									class="fa fa-user fa name2" aria-hidden="true"></i></span> <input
									type="text" class="form-control" name="name" id="name1"
									placeholder="Enter your Name" />
							</div>
						</div>
					</div>
					<div class="form-group">
						<label for="email" class="cols-sm-2 control-label email2">Email</label>
						<div class="cols-sm-10">
							<div class="input-group">
								<span class="input-group-addon"><i
									class="fa fa-envelope-o fa email2" aria-hidden="true"></i></span> <input
									type="text" class="form-control" name="email"
									placeholder="Enter your Email" id="email1" />
							</div>
						</div>
					</div>
					<div class="form-group">
						<label for="username" class="cols-sm-2 control-label username2">Username</label>
						<div class="cols-sm-10">
							<div class="input-group">
								<span class="input-group-addon"><i
									class="fa fa-users fa username2" aria-hidden="true"></i></span> <input
									type="text" class="form-control" name="username"
									placeholder="Enter your Username" id="username1" />
							</div>
						</div>
					</div>
					<div class="form-group">
						<label for="password" class="cols-sm-2 control-label pass12">Password</label>
						<div class="cols-sm-10">
							<div class="input-group">
								<span class="input-group-addon"><i
									class="fa fa-lock fa-lg pass12" aria-hidden="true"></i></span> <input
									type="password" class="form-control" name="password"
									placeholder="Enter your Password" id="pass1" />
							</div>
						</div>
					</div>
					<div class="form-group">
						<label for="confirm" class="cols-sm-2 control-label pass22">Confirm
							Password</label>
						<div class="cols-sm-10">
							<div class="input-group">
								<span class="input-group-addon"><i
									class="fa fa-lock fa-lg pass22" aria-hidden="true"></i></span> <input
									type="password" class="form-control" name="confirm"
									placeholder="Confirm your Password" id="pass2" />
							</div>
						</div>
					</div>
					<div class="form-group text-center">
						<input type="submit" class="btn btn-primary btn-md" value="SignUp">
					</div>
			</div>
			<div class="login-register">
				<a href="profile.html">
					<p id="alreadyLink">Already have an account?</p>
				</a>
			</div>
			</form>
		</div>
	</div>
	</div>
	<script type="text/javascript" src="assets/js/bootstrap.js"></script>
	<!-- Footer -->
	<footer class="col-lg-12 navbar-default" id="skinFooter">
		<div class="row">
			<div class="col-lg-12 ">
				<div class="col-xs-4">
					<div class="text-left">
						<p id="footerLogo">
							<span><img src="images/logoW.png"></span> Dispute Project
						</p>
					</div>
				</div>
				<div class="col-xs-4"></div>
				<div class="text-right" id="skinFooterLinks">
					<div class="col-xs-4">
						<a href="https://twitter.com/DisputeWeb?lang=es"
							class="skinFooterLinks"><span class="fa fa-twitter-square"
							id="footerLinks"></span></a> <a
							href="https://www.facebook.com/Dispute-627402047448785/?ref=ts&fref=ts"
							class="skinFooterLinks"><span class="fa  fa-facebook-square "
							id="footerLinks"></span></a> <a
							href="https://github.com/cddogaru/Dispute-DAW"
							class="skinFooterLinks"><span class="fa  fa-github "
							id="footerLinks"></span></a>
					</div>
				</div>
			</div>
		</div>
	</footer>
	<!-- jQuery -->
	<script src="js/jquery.js "></script>
	<script src="js/password.js"></script>
	<!-- Bootstrap Core JavaScript -->
	<script src="js/bootstrap.min.js "></script>
</body>

</html>