	<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, shrink-to-fit=no, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Settings</title>
    <!-- Bootstrap Core CSS -->
    <link rel="icon" href="images/logoB.png" type="image/x-icon" />
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="css/style.css" rel="stylesheet">
    <link href="css/font-awesome.css" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<!-- Navigation -->
<header>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
                <a href="index.html"><img id="navbar-icon" src="images/logoHeader.png" /></a>
            </div>
            <div class="navbar-collapse collapse" id="navbar">
                <ul class="nav navbar-nav navbar-left">
                    <li><a href='index.html'>Home</a></li>
                    <li><a href='tournaments.html'>Tournaments</a></li>
                    <li> <a href='teams.html'>Teams</a> </li>
                </ul>
                <ul class="nav navbar-nav navbar-right"> {{#isLogged}}
                    <li> <img id="profile" class="img-circle dropdown-toggle" data-toggle="dropdown" src="../image/{{userLogged.avatar}}" height="50" width="50" />
                        <ul class="dropdown-menu">
                            <li>
                                <a href="/user/{{userLogged.name}}"> <strong>{{userLogged.name}}</strong>
                                    <p class="small">Profile</p>
                                </a>
                            </li>
                            <li><a href="../myTournaments">My Tournaments</a></li>
                            <li>
                                <form action="/logout" method="post">
                                    <input type="hidden" name="_csrf" value="{{token}}" />
                                    <button type="submit" class="btn btn-link">Logout</button>
                                </form>
                            </li>
                        </ul>
                    </li>
                    <li><a href="settings.html" id="topRightMenu"><span class="skinNavbarLinks">Settings</span></a></li> {{/isLogged}} {{^isLogged}}
                    <li><a href="login.html"><span class="skinNavbarLinks">Sign in</span></a></li> {{/isLogged}}
                    <li><a href="contactus.html"><span class="skinNavbarLinks">Contact</span></a></li>
                </ul>
                <form class="navbar-form navbar-left" action="../findTournament" method="post">
                        <input type="hidden" name="_csrf" value="{{token}}" />
                        <input type="text" class="form-control" placeholder="Search tournament..." name="name"> </form>
            </div>
        </div>
    </nav>
</header>

<body>
    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-3">
                    <div class="sidebar-nav">
                        <div class="navbar navbar-default" role="navigation">
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-navbar-collapse"> <span class="sr-only">Settings</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button> <span class="visible-xs navbar-brand">Settings</span> </div>
                            <div class="navbar-collapse collapse sidebar-navbar-collapse">
                                <ul class="nav navbar-nav">
                                    <li class="active"><a href="profileSettings">Profile Settings</a></li>
                                    <li><a href="profileAccounts">Linked Accounts</a></li>
                                </ul>
                            </div>
                            <!--/.nav-collapse -->
                        </div>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <h2>Profile:</h2>
                            <hr>
                            <div class="row">
                                <div class="col-lg-4">
                                    <div id="profileSetLeftSide">
                                        <p class="options"> Avatar: </p>
                                        <form action="/profileSettings" method="POST" enctype="multipart/form-data">
                                        <div id="profileMainPic"> <img id="profile" class="img-square" src="../image/{{userLogged.avatar}}" height="150" width="150"/></div>
                                        <br>
    										<input type="file" name="pic" style="color: white;" />
                                    </div>
                                </div>
                                <div class="col-lg-8">
                                <input type="hidden" name="_csrf" value="{{token}}" />
                                    <div class="row">
                                        <div class="col-lg-4">
                                            <p class="options"> Nick</p>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <input type="text" class="form-control" name="nickName"> </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-4">
                                            <p class="options"> E-mail</p>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <input type="text" class="form-control" name="email"> </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-4">
                                            <p class="options">Password: </p>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <input type="password" class="form-control" name="password"> </div>
                                        </div>
                                    </div>
                                    <br>
                                    <br>
                                    <div class="text-right"> <input class="btn btn-primary btn-lg" type="submit" value="Apply changes"></div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->
    </div>
    <!-- Footer -->
    <footer class="col-lg-12 navbar-default">
        <div class="row">
            <div class="col-lg-12 ">
                <div class="col-xs-4">
                    <div class="text-left">
                        <p id="footerLogo"><span><img src="images/logoG.png"></span> Dispute Project</p>
                    </div>
                </div>
                <div class="col-xs-4"> </div>
                <div class="text-right">
                    <div class="col-xs-4"> <a href="https://twitter.com/DisputeWeb?lang=es"><span class="fa fa-twitter-square" id="footerLinks"></span></a> <a href="https://www.facebook.com/Dispute-627402047448785/?ref=ts&fref=ts"><span class="fa  fa-facebook-square " id="footerLinks"></span></a> <a href="https://github.com/cddogaru/Dispute-DAW"><span class="fa  fa-github " id="footerLinks"></span></a> </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- /#wrapper -->
    <!-- jQuery -->
    <script src="js/jquery.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>
    <!-- Menu Toggle Script -->
    <script>
        $("#menu-toggle").click(function (e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
        });
    </script>
</body>

</html>